version: '2.4'

services:
  app:
    # As soon as possible, get an image of your app on the github container registry
    # and use that image for local development. This will avoid drift between containers
    # on different machines.
    # 
    # When that is ready, uncomment the next line, and delete the following two lines
    # and commit those changes to the repository.
    # image: ghcr.io/${{ github.repository }}:latest
    image: {{cookiecutter.app_name}}
    build: .    
    container_name: {{cookiecutter.app_name}}
    # Allow container to be attached to, e.g., to access the pdb shell
    stdin_open: true
    tty: true
    ports:
      # Map ports on your computer to ports on your container. This allows you,
      # e.g., to visit your containerized application in a browser on your
      # computer.
      - 8000:8000
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      # Mount the development directory as a volume into the container, so
      # Docker automatically recognizes your changes.
      - .:/app
      # Mount the node_modules directory so that our local mount doesn't
      # clobber it.
      - {{cookiecutter.app_name}}-node-modules:/app/node_modules
    environment:
      DJANGO_SECRET_KEY: reallysupersecret{% if cookiecutter.auto_migrate == 'True' %}
      DJANGO_MANAGEPY_MIGRATE: "on"{% endif %}
    entrypoint: /app/docker-entrypoint.sh
    command: {{cookiecutter.run_command}}

  postgres:
    container_name: {{cookiecutter.app_name}}-postgres
    image: {% if cookiecutter.postgis == 'True' %}mdillon/postgis{% else %}postgres{% endif %}:{{cookiecutter.pg_version}}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    environment:
      # The default Postgres image exposes a number of environmental variables
      # that allow you to configure the container's behavior, without writing
      # any additional code. Specify the name of your database, and any other
      # variables, here. https://hub.docker.com/_/postgres/#environment-variables
      POSTGRES_DB: {{cookiecutter.pg_db}}
      POSTGRES_PASSWORD: postgres
    volumes:
      # By default, Postgres instantiates an anonymous volume. Use a named
      # one, so your data persists beyond the life of the container. See this
      # post for a discussion of the pitfalls of Postgres and anonymous
      # volumes: https://linuxhint.com/run_postgresql_docker_compose/
      - {{cookiecutter.app_name}}-db-data:/var/lib/postgresql/data
    ports:
      - 32001:5432

volumes:
  # Declare your named volume for Postgres.
  {{cookiecutter.app_name}}-db-data:
  # Making node_modules a named volume prevents the ./app volume mount from
  # clobbering the directory in the container.
  {{cookiecutter.app_name}}-node-modules:
