{{ '{%' }} extends "{{ cookiecutter.module_name }}/base.html" {{ '%}' }}

{% raw %}{% block title %}Server Error{% endblock %}{% endraw %}

{% raw %}{% block body %}{% endraw %}
  <h1>Server error</h1>
  <p>
    The server could not return the content you were looking for. Our development
    team has been notified and will look into the error.
  </p>
  <p>
    If this error persists, contact the webmaster at
    <a href="mailto:info@datamade.us">info@datamade.us</a>.
  </p>
  <p>
    <a href="/"><i class="fa fa-fw fa-arrow-left"></i>Back to home page</a>
  </p>
  {% raw %}{% endblock %}{% endraw %}
