{% raw %}{% load static %}
{% load wagtailcore_tags %}
{% load wagtailuserbar %}{% endraw %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1">

    <title>
      {% raw %}{% if self.seo_title %}
                 {{ self.seo_title }}
               {% elif page.title %}
                 {{ page.title }}
               {% elif view.title %}
                 {{ view.title }}
               {% endif %}{% endraw %}
               | {{ cookiecutter.app_verbose_name }}</title>

    <meta content="TK" name="description" />
    <meta content="{{ cookiecutter.app_verbose_name }}" name="author" />

    <!-- Facebook metadata -->
    <meta property="og:site_name" content="{{ cookiecutter.module_name }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ '{{' }} page.title {{ '}}' }} | {{ cookiecutter.app_verbose_name }}">
    <meta property="og:description" content="TK">
    <meta property="og:url" content="TK">
    {% raw %}<meta property="og:image" content="{% static 'images/' %}">{% endraw %}

    <!-- Twitter metadata -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="{{ cookiecutter.module_name }}">
    <meta name="twitter:creator" content="TK">
    <meta name="twitter:title" content="{{ '{{' }} page.title {{ '}}' }} | {{ cookiecutter.app_verbose_name }}">
    <meta name="twitter:url" content="TK">
    <meta name="twitter:description" content="TK">
    {% raw %}<meta name="twitter:image" content="{% static 'images/' %}">{% endraw %}

    <!-- Override this block to add extra meta tags -->
    {% raw %}{% block extra_meta %}{% endblock %}{% endraw %}

    {% raw %}<link rel="shortcut icon" type="image/ico" href="{% static 'images/favicon.ico' %}"/>
             <link rel="shortcut icon" type="image/ico" href="{% static 'images/favicon-16x16.png' %}" sizes="16x16" />
             <link rel="shortcut icon" type="image/ico" href="{% static 'images/favicon-32x32.png' %}" sizes="32x32" />{% endraw %}

    <!-- Bootstrap core CSS -->
    {% raw %}<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
             <link href="{% static 'css/custom.css' %}" rel="stylesheet">{% endraw %}
      
    <!-- Override this block to add extra stylesheets -->
    {% raw %}{% block extra_css %}{% endblock %}{% endraw %}
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-between p-3">
      <div class="col-10 col-sm-6">
        <a class="h2 text-dark m-2 row" href="/">{{ cookiecutter.app_verbose_name }}</a>
      </div>


        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              {% raw %}<a class="nav-link" href="{% slugurl 'about' %}" class="text-dark p-2">About</a>{% endraw %}
            </li>
          </ul>
        </div>
    </nav>

    <div id="main-body">
      {% raw %}{% block body %}{% endblock %}   {% endraw %}
    </div>

    <footer>

      <div class="bg-dark p-4 container-fluid text-light">

        <div class="row">

          <!-- Site Name -->
          <div class="col-md p-3">
            <h1>
              {{ cookiecutter.app_verbose_name }}
            </h1>
          </div>

        </div>

        <hr class="mt-2 mb-3" style="border-color: gray;" />
        <div class="d-flex justify-content-between">
          <p>Built by <a href="https://datamade.us" target="_blank" class="text-light">DataMade</a></p>
        </div>
      </div>
    </footer>
    {% raw %}{% wagtailuserbar %}{% endraw %}

    <!-- Load external scripts -->
    {% raw %}<script src="{% static 'js/lib/jquery.min.js' %}"></script>
             <script src="{% static 'js/lib/bootstrap.bundle.min.js' %}"></script>
             <script src="{% static 'js/lib/fontawesome.min.js' %}"></script>{% endraw %}

    <!-- Load Google Tag Manager for analytics (no-op until APIKEY is set) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=APIKEY"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'APIKEY');
    </script>

    <!-- Load extra external scripts -->
    {% raw %}{% block extra_js %}{% endblock %}{% endraw %}
  </body>
</html>
