{{ '{%' }} extends "{{ cookiecutter.module_name }}/base.html" {{ '%}' }}

{% raw %}{% load static %}{% endraw %}

{% raw %}{% block title %}{view.title}{% endblock %}{% endraw %}

{% raw %}{% block body %}{% endraw %}
  <div id="App">
    <!-- Contents get replaced by mounted React.Component -->
    <div class="text-center">
      <i class="fa fa-lg fa-spinner fa-spin"></i><br><br>
      <i class="pending">Loading components...</i><br><br>
    </div>
  </div>
  {% raw %}{% endblock %}{% endraw %}

  {% raw %}{% block extra_js %}
             {% load compress %}
             {{ props|json_script:"props" }}
             <script type="text/javascript">
               window.props = JSON.parse(document.getElementById('props').textContent)
               window.reactMount = document.getElementById('App')
             </script>
             {% compress js %}
               <script type="text/jsx" src="{% static 'js/hello-react.js' %}"></script>
             {% endcompress %}
           {% endblock %}{% endraw %}
