{{ '{%' }} extends "{{ cookiecutter.module_name }}/base.html" {{ '%}' }}

{% raw %}{% load static wagtailcore_tags wagtailimages_tags %}{% endraw %}

{% raw %}{% block title %}Home{% endblock %}{% endraw %}

{% raw %}{% block body %}{% endraw %}
<div class="container-fluid bg-secondary">
  <div class="row">
    <div class="p-5 text-light col-6 offset-1">
      {% raw %}{{ page.intro_text|richtext }}{% endraw %}
    </div>
  </div>
</div>

<div class="container">
  {% raw %}{% if topics %}{% endraw %}
    <section class="m-5">
      <h3 class="text-center">Topics</h3>
      <p class="text-center">Learn about our research and recommendations to changes in local policy.</p>
      <div class="row">
        {% raw %}{% for topic in topics %}{% endraw %}
          <div class="col m-2">
            {% raw %}{% image topic.image width-400 class="img-fluid rounded mx-auto d-block" %}{% endraw %}
            {% raw %}<a href="{% pageurl topic %}">{% endraw %}
              <h3 class="text-center">
                {% raw %}{{ topic.title }}{% endraw %}
              </h3>
            </a>
          </div>
          {% raw %}{% endfor %}{% endraw %}
      </div>
      <div class="d-flex justify-content-center m-3">
        {% raw %}<a href="{% slugurl 'topics' %}" class="btn btn-primary mx-auto">All topics</a>{% endraw %}
      </div>
    </section>
    {% raw %}{% endif %}{% endraw %}

  <hr>

  {% raw %}{% if updates %}{% endraw %}
    <section class="m-5">
      <h3 class="text-center">Updates</h3>
      <div class="row">
        {% raw %}{% for update in updates %}{% endraw %}
          <div class="col">
            <h3 class="text-center">
              {% raw %}<a href="{% pageurl update %}">{% endraw %}
                {% raw %}{{ update.title }}{% endraw %}
              </a>
            </h3>
            {% raw %}<p>{{ update.intro }}</p>{% endraw %}
          </div>
          {% raw %}{% endfor %}{% endraw %}
      </div>
      <div class="d-flex justify-content-center m-3">
        {% raw %}<a href="{% slugurl 'updates' %}" class="btn btn-primary">All updates</a>{% endraw %}
      </div>
    </section>
    {% raw %}{% endif %}{% endraw %}

  <hr>

  {{ '{%' }} include '{{ cookiecutter.module_name }}/partials/core_content.html' {{ '%}' }}
</div>



{% raw %}{% endblock %}{% endraw %}
