{% raw %}{% extends {% endraw %}"{{cookiecutter.module_name}}/base.html"{% raw %} %}

{% block title %}Page Not Found{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-sm-10 offset-sm-1">
      <h1>Page not found</h1>
      <p>We were unable to find the page you were looking for.</p>
      <p>
        <a href="{% url 'home' %}"><i class="fa fa-fw fa-arrow-left"></i>Back to home page</a>
      </p>
    </div>
  </div>
</div>
{% endblock %}{% endraw %}
