{% raw %}{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock %} | {% endraw %}{{cookiecutter.app_verbose_name}}{% raw %}</title>

    <meta content="Description TK" name="description" />
    <meta content="Author TK" name="author" />

    <!-- Facebook metadata -->
    <meta property="og:site_name" content="{% endraw %}{{cookiecutter.app_verbose_name}}{% raw %}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:description" content="Description TK">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <!-- TODO: Update with path to real share card instead of DataMade logo. -->
    <meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{% static 'images/datamade-logo.png' %}">

    <!-- Twitter metadata -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="{% endraw %}{{cookiecutter.app_verbose_name}}{% raw %}">
    <meta name="twitter:creator" content="Creator TK">
    <meta name="twitter:title" content="{{ page.title }}">
     <meta name="twitter:url" content="{{ request.build_absolute_uri }}">
    <meta name="twitter:description" content="Description TK">
    <!-- TODO: Update with path to real share card instead of DataMade logo. -->
    <meta property="twitter:image" content="{{ request.scheme }}://{{ request.get_host }}{% static 'images/datamade-logo.png' %}">

    <meta name="robots" content="{% if allow_index %}all{% else %}noindex{% endif %}">
    {% if allow_index %}
    <!-- TODO: Replace ${PRODUCTION_DOMAIN} with the production domain. Do
    not add a slash between the domain and the request path. -->
    <link rel="canonical" href="${PRODUCTION_DOMAIN}{{ request.path }}" />
    {% endif %}

    <!-- Override this block to add extra meta tags -->
    {% block extra_meta %}{% endblock %}

    <link rel="shortcut icon" type="image/ico" href="{% static 'images/favicon.ico' %}"/>
    <link rel="shortcut icon" type="image/ico" href="{% static 'images/favicon-16x16.png' %}" sizes="16x16" />
    <link rel="shortcut icon" type="image/ico" href="{% static 'images/favicon-32x32.png' %}" sizes="32x32" />

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">

    <!-- Load fonts, if necessary -->
    <!-- link href="https://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400,700&display=swap" rel="stylesheet" -->

    <!-- Override this block to add extra stylesheets -->
    {% block extra_css %}{% endblock %}
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark pl-2 pl-md-4">
      <div class="justify-content-left va-container">
        {% block navbar_brand %}
          <a class="navbar-brand" href="/">
            <div id="navbar-title" class="d-inline-block">
              <span class="d-none d-sm-inline navbar-title-text">
                {% endraw %}{{cookiecutter.app_verbose_name}}{% raw %}
              </span>
            </div>
          </a>
        {% endblock %}
      </div>
      <div class="justify-content-right">
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbar-supported-content"
          aria-controls="navbar-supported-content"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="navbar-supported-content">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Home</a>
          </li>
        </ul>
      </div>
    </nav>

    <div id="main-body">
      <div class="mt-3 mt-lg-5 mb-5">
        {% block body %}{% endblock %}
      </div>
    </div>

    <footer class="footer bg-dark text-light pt-5 pb-3">
      <div class="container-fluid text-center">
        <h3 class="mb-1">
          {% endraw %}{{cookiecutter.app_verbose_name}}{% raw %}
        </h3>
        <p>
          <a href="{% url 'home' %}">Home</a>
        </p>

        <p class="mt-3">
          Website by <br/>
          <a href="https://datamade.us">
            <img
              class="mb-4 mt-2" style="height:20px"
              src="{% static 'images/datamade-logo.png' %}"
              alt="DataMade"
            />
          </a>
        </p>
      </div>
    </footer>

    <!-- Load external scripts -->
    <script src="{% static 'js/lib/jquery.min.js' %}"></script>
    <script src="{% static 'js/lib/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/lib/fontawesome.min.js' %}"></script>
    <script src="{% static 'js/lib/solid.min.js' %}"></script>

    <!-- Load Google Tag Manager for analytics (no-op until APIKEY is set) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=APIKEY"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'APIKEY');
    </script>

    <!-- Load extra external scripts -->
    {% block extra_js %}{% endblock %}
  </body>
</html>{% endraw %}
