Django==5.1.1
psycopg2==2.9.9
gunicorn==23.0.0
whitenoise==6.7.0
django-environ==0.11.2
django-compressor==4.5.1
django-storages==1.14.4
boto3==1.35.34
sentry-sdk==2.15.0
wagtail==6.2.2
csvkit==2.0.1
wagtail-modeladmin==2.0.0

pytest==8.3.3
pytest-django==4.9.0
pytest-mock==3.14.0
flake8==7.1.1

pip-chill==1.0.3
