Django==5.1.1
psycopg2==2.9.9
gunicorn==23.0.0
dj-database-url==2.2.0
whitenoise==6.7.0
django-compressor==4.5.1
django-storages==1.14.4
boto3==1.35.14
sentry-sdk==2.13.0
wagtail==6.2.1
csvkit==2.0.1

pytest==8.3.2
pytest-django==4.9.0
pytest-mock==3.14.0
flake8==7.1.1

pip-chill==1.0.3
